[bumpversion]
current_version = 1.5.0
commit = True
tag = False

[bumpversion:file:sonar-project.properties]
search = sonar.projectVersion={current_version}
replace = sonar.projectVersion={new_version}

[bumpversion:file:package.json]
search = "version": "{current_version}",
replace = "version": "{new_version}",

