#----------------------------------------------------------------------------
# Aiakos application section (mandatory)
#----------------------------------------------------------------------------
app:
  port: 3000		# App listen port

#----------------------------------------------------------------------------
# Logging options section (mandatory)
#----------------------------------------------------------------------------
logging:
  level: DEBUG				# Logging level

#-----------------------------------------------------------------------------
#  openstack admin (mandatory)
#-----------------------------------------------------------------------------
openstack:
  host: 'cloud.lab.fiware.org'
  port: '4731'
  path: '/v3/auth/tokens'
  username: ''		# admin openstack user
  password: ''		# admin openstack password
  content-type: 'application/json'
  accept: 'application/json'

#-----------------------------------------------------------------------------
#  openstack regions administrators (mandatory)
#-----------------------------------------------------------------------------
regions:
  names: []         # array of {'username': 'regionName'}
